*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: centers;//styleName: H0 : 96, 48;
    font-family: 'Graphik';
}

@font-face {
    font-family: 'Graphik';
    src: url("Graphik-Regular-Web.eot");
    src: url("Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"),url("Graphik-Regular-Web.woff2") format("woff2"),url("Graphik-Regular-Web.woff") format("woff"),url("Graphik-Regular-Web.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}


@font-face {
    font-family: 'Graphik';
    src: url("Graphik-Bold-Web.eot");
    src: url("Graphik-Bold-Web.eot?#iefix") format("embedded-opentype"),url("Graphik-Bold-Web.woff2") format("woff2"),url("Graphik-Bold-Web.woff") format("woff"),url("Graphik-Bold-Web.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Graphik';
    src: url("Graphik-RegularItalic-Web.eot");
    src: url("Graphik-RegularItalic-Web.eot?#iefix") format("embedded-opentype"),url("Graphik-RegularItalic-Web.woff2") format("woff2"),url("Graphik-RegularItalic-Web.woff") format("woff"),url("Graphik-RegularItalic-Web.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url("Graphik-Black-Web.eot");
    src: url("Graphik-Black-Web.eot?#iefix") format('embedded-opentype'),url("Graphik-Black-Web.woff2") format('woff2'),url("Graphik-Black-Web.woff") format('woff'),url(/template/fonts/Graphik-Black-Web.ttf) format('truetype'),url(/template/fonts/Graphik-Black-Web.svg#Graphik-Black-Web) format('svg');
    font-weight: 900;
    font-style: normal
}

#root {
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

:root {
    --bg-primary: #FFFFFF;
    --bg-accent: #2196F3;
    --bg-inverse: #212121;
    --bg-system-pos: #4CAF50;
    --bg-system-neg: #F44336;
    --bg-primary-tp-16: #FFFFFF29;
    --bg-primary-tp-8: #FFFFFF14;
    --bg-accent-tp-8: #2196F314;
    --bg-inverse-tp-48: #2121217A;
    --bg-inverse-tp-8: #2121210A;
    --bg-inverse-tp-4: #2121210A;

    --text-primary: #212121;
    --text-accent: #2196F3;
    --text-inverse: #FFFFFF;
    --text-system-pos: #4CAF50;
    --text-system-neg: #F44336;
    --text-primary-tp-64: #212121A3;
    --text-primary-tp-48: #2121217A;
    --text-primary-tp-24: #2121213D;
    --text-inverse-tp-64: #FFFFFFA3;
    --text-inverse-tp-32: #FFFFFF52;

    --icon-primary: #212121;
    --icon-accent: #2196F3;
    --icon-inverse: #FFFFFF;
    --icon-system-pos: #4CAF50;
    --icon-system-neg: #F44336;
    --icon-primary-tp-48: #2121217A;
    --icon-primary-tp-32: #21212152;
    --icon-primary-tp-24: #2121213D;

    --border-primary: #212121;
    --border-accent: #2196F3;
    --border-inverse: #FFFFFF;
    --border-system-pos: #4CAF50;
    --border-system-neg: #F44336;
    --border-primary-tp-8: #21212114;
    --border-primary-tp-4: #2121210A;

    --H0: 96px;
    --H1: 64px;
    --H2: 32px;
    --SH: 28px;
    --S1: 24px;
    --T1: 24px;
    --S2: 20px;
    --T2: 20px;
    --T3: 16px;

    --H0-d: 48px;
    --H1-d: 32px;
    --H2-d: 24px;
    --SH-d: 20px;
    --S1-d: 16px;
    --T1-d: 16px;
    --S2-d: 14px;
    --T2-d: 14px;
    --T3-d: 12px;
}

header {
    width: 100%;
    position: relative;
    background: var(--bg-inverse-tp-4);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    nav {
        background: var(--bg-primary);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        border-radius: 999px;
        height: 68px;
        h3 {
            padding: 0 0 0 2rem;
            font-size: var(--SH);
        }
        .nav-bar-ul {
            flex-direction: row;
            display: flex;
            justify-content: space-around;
            gap: 3rem;
            a {
                text-decoration: none;
                color: var(--text-primary-tp-64);
            }
            a:hover {
                text-decoration: none;
                color: var(--text-primary);
                cursor: pointer;
            }
        }
        .nav-bar-butt {
            border: 1px solid var(--bg-accent);
            border-radius: 999px;
            padding: 24px 32px 24px 32px;
            color: var(--bg-accent);
            background: var(--bg-primary);
            transition: ease-out 150ms;
            p {
                font-size: var(--S2);
                font-weight: 500;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }
        .nav-bar-butt:hover {
            border: 1px solid var(--bg-accent);
            border-radius: 999px;
            padding: 24px 32px 24px 32px;
            color: var(--text-inverse);
            background: var(--bg-accent);
            transition: ease-out 150ms;
            cursor: pointer;
            h3 {
                font-size: var(--S2-d);
                font-weight: 500;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }
        .nav-bar-butt:active {
            border: 1px solid var(--bg-inverse);
            border-radius: 999px;
            padding: 24px 32px 24px 32px;
            color: var(--text-inverse);
            background: var(--bg-inverse);
            transition: ease-out 150ms;
            h3 {
                font-size: var(--S2);
                font-weight: 500;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }
    }
    .hero-sec {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        .hero-sec-main {
            display: flex;
            width: 782px;
            flex-direction: column;
            gap: 4rem;
            padding-left: 3rem;
            align-items: center;
            .hero-sec-butt {
                border-radius: 999px;
                padding: 1.5rem 2rem 1.5rem 2rem;
                background: var(--bg-accent);
                color: var(--text-inverse);
                border: none;
                width: fit-content;
                height: fit-content;
                align-items: center;
                justify-content: center;
                transition: ease-out 150ms;
                p {
                    font-size: var(--S2);
                    font-weight: 500;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    padding: 0 0.25rem 0 0.25rem;
                }
            }
            .hero-sec-butt:hover {
                border-radius: 999px;
                padding: 1.5rem 2rem 1.5rem 2rem;
                background: var(--bg-inverse);
                color: var(--text-inverse);
                border: none;
                transition: ease-out 150ms;
                cursor: pointer;
            }
            .hero-sec-butt:active {
                border-radius: 999px;
                padding: 1.5rem 2rem 1.5rem 2rem;
                background: var(--bg-inverse);
                color: var(--text-inverse);
                border: none;
                transition: ease-out 150ms;
            }
            .hero-sec-text {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h1 {
                    font-size: var(--H0);
                    font-weight: 600;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
                h4 {
                   font-size: 24px;
                   letter-spacing: -0.003rem;
                   text-align: center;
                   font-weight: 400;
                }
            }
        }
        .hero-vid-sec {
            display: flex;
            video {
                width: 962px;
                height: 932px;
                border-radius: 16px;
                object-fit: cover;
            }
        }
    }
}
main {
    width: 100%;
    position: relative;
    background: none;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0 0 0;
    .main-slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background: var(--bg-inverse-tp-4);
        padding: 1rem;
        border: none;
        border-radius: 2rem;
        .slider-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            h2 {
                font-size: var(--H1);
                font-weight: 500;
                text-align: center;
            }
            .slider-navPoint {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                .nav-point{
                    background: var(--bg-inverse-tp-8);
                    width: 100px;
                    height: 6px;
                    border-radius: 999px;
                    border: none;
                }
            }
            .butt-sec {
                display: flex;
                gap: 0.75rem;
                .slider-butt {
                    background: var(--bg-primary);
                    border: none;
                    border-radius: 999px;
                    padding: 1rem 1.5rem 1rem 1.5rem;
                    gap: 0.625rem;
                    transition: 150ms ease-out;
                    p {
                        font-weight: 400;
                        font-size: var(--T1);
                    }
                }
                .slider-butt:hover {
                    border: none;
                    border-radius: 999px;
                    padding: 1rem 1.5rem 1rem 1.5rem;
                    gap: 0.625rem;
                    transition: 150ms ease-out;
                    cursor: pointer;
                }
            }
        }
        .img-slider {
            width: 100%;
        }
    }
    .card-sec {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 6rem;
        background: var(--bg-inverse-tp-4);
        border: none;
        border-radius: 2rem;
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 24.25rem;
            height: 23.375rem;
            gap: 2rem;
            p {
                text-align: center;
                font-size: var(--T1);
                color: var(--text-primary);
                span {
                    font-weight: 400;
                    text-align: center;
                    font-size: var(--T1);
                    color: var(--text-primary-tp-48);
                }
            }
        }
    }
    .telegram-sec {
        display: flex;
        background: var(--bg-inverse-tp-4);
        padding: 0 3rem 0 6rem;
        gap: 4rem;
        border: none;
        border-radius: 2rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .card-text-sec {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            h2 {
                font-weight: 500;
                font-size: var(--H1);
                color: var(--text-primary);
            }
            ol {
                counter-reset: custom-counter;
                list-style: none;
                display: flex;
                gap: 1.5rem;
                flex-direction: column;
            }
            ol li {
                counter-increment: custom-counter;
                color: var(--text-primary);
                font-weight: 500;
                font-size: var(--S1);
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }
            ol li::before {
                content: counter(custom-counter);

                display: flex;
                color: var(--text-accent);
                background: var(--bg-accent-tp-8);
                border: none;
                border-radius: 999px;
                width: 42px;
                height: 42px;
                justify-content: center;
                align-items: center;
            }
            hr {
                color: var(--border-primary-tp-8);
            }
            .card-sub-text {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
                p {
                    font-weight: 400;
                    font-weight: var(--T2);
                    color: var(--text-primary-tp-48);
                }
            }
        }
    }
    .portfolio-sec {
        display: flex;
        flex-direction: row;
        border: none;
        border-radius: 999px;
        gap: 1rem;
        .portf-content-sec {
            display: flex;
            width: 37rem;
            height: 50.75rem;
            justify-content: space-between;
            flex-direction: column;
            padding: 4rem;
            background: var(--bg-inverse-tp-4);
            border-radius: 2rem;
            .portf-text-sec {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h4 {
                    font-weight: 700;
                    font-size: var(--H2);
                    color: var(--text-primary);
                }
                p {
                    font-weight: 400;
                    font-size: var(--T2);
                    color: var(--text-primary-tp-48);
                }
            }
            .portf-sign-sec {
                display: flex;
                .sign {
                    background: #B1EC52;
                    border-radius: 1rem;
                    border-top-right-radius: 0px;
                    width: 4rem;
                    height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h4 {
                        font-size: 42px;
                        color: #4D5759;
                        font-weight: 700;
                        letter-spacing: -5px;
                        text-align: center;
                    }
                }
            }
        }
        .portf-img-sec {
            border-radius: 2rem;
        }
    }
    .howThatWorks-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg-inverse-tp-4);
        border: none;
        border-radius: 2rem;
        padding: 6rem;
        gap: 6rem;
        flex-direction: column;
        .title-sec {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            h3 {
                color: var(--text-primary);
                font-weight: 700;
                font-size: var(--H1);
                text-align: center;
            }
            .subtext {
                font-weight: 400;
                font-size: var(--SH);
                color: var(--text-primary-tp-64);
                text-align: center;
                width: 60rem;
            }
            .miniCard-sec {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                .card {
                    width: 29rem;
                    background: var(--bg-primary);
                    border-radius: 1rem;
                    border: none;
                    padding: 2rem;
                    gap: 0.75rem;
                    h4 {
                        font-weight: 700;
                        font-size: var(--H2);
                        color: var(--text-primary);
                    }
                    p {
                        font-weight: 400;
                        font-size: var(--T2);
                        color: var(--text-primary);
                    }
                }
            }
        }
        .map-sec {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .newLevel-sec {
        display: flex;
        border: none;
        border-radius: 2rem;
        background: var(--bg-accent);
        padding: 8rem;
        gap: 8rem;
        .text-sec {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .title {
                display: flex;
                gap: 3rem;
                flex-direction: column;
                h2 {
                    font-weight: 700;
                    font-size: var(--H1);
                    color: var(--text-inverse);
                }
                h4 {
                    font-weight: 400;
                    font-size: var(--T1);
                    color: var(--text-inverse);
                }
            }
            p {
                font-weight: 400;
                font-size: var(--T3);
                color: var(--text-inverse-tp-32);
            }
        }
        .forma-sec {
            display: flex;
            gap: 2;
            .inpu-forma-sec {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 51rem;
                input:placeholder {
                    font-size: var(--SH);
                    font-weight: 400;
                    color: var(--text-primary-tp-24);
                    transition: color 0.3s ease-out;
                }
                input > * {
                    font-weight: 400;
                    font-size: var(--SH);
                    color: var(--text-primary);
                }
                input {
                    display: flex;
                    appearance: none;
                    width: 100%;
                    padding: 2rem 3rem 2rem 3rem;
                    justify-content: space-between;
                    border-radius: 999px;
                    border: none;
                    background: var(--bg-primary);
                    outline: none;
                }
                input:hover {
                    display: flex;
                    width: 100%;
                    padding: 2rem 3rem 2rem 3rem;
                    justify-content: space-between;
                    border-radius: 999px;
                    border: none;
                    background: var(--bg-primary);
                    cursor: pointer;
                }
                input:focus {
                    display: flex;
                    width: 100%;
                    padding: 2rem 3rem 2rem 3rem;
                    justify-content: space-between;
                    border-radius: 999px;
                    border: none;
                    background: var(--bg-primary);
                }
                input:focus::placeholder {
                    color: transparent;
                    display: flex;
                    width: 100%;
                    padding: 2rem 3rem 2rem 3rem;
                    justify-content: space-between;
                    border-radius: 999px;
                    border: none;
                    background: var(--bg-primary);
                }
                .nameForma-sec {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: space-between;
                    .custom-input {

                    }
                }
                .phoneSphereForma-sec {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
    }
}